   <mat-toolbar class="bg-gradient-medical text-white shadow-md">
      <div class="max-w-7xl mx-auto w-full flex justify-between items-center px-4">
        <!-- Logo and Brand -->
        <div class="flex items-center">
          <button mat-button routerLink="/" class="text-xl font-bold text-white">
            <mat-icon class="mr-2">local_pharmacy</mat-icon>
            REMEDY RADAR
          </button>
        </div>

        <!-- Navigation Links -->
        <nav class="hidden md:flex items-center space-x-1">
          <button mat-button routerLink="/symptoms" class="text-white">
            <mat-icon class="mr-1">search</mat-icon>
            Check Symptoms
          </button>
          <button mat-button routerLink="/medicines" class="text-white">
            <mat-icon class="mr-1">medication</mat-icon>
            Medicines
          </button>
          <button mat-button routerLink="/chat" class="text-white">
            <mat-icon class="mr-1">chat</mat-icon>
            Chat with Doctor
          </button>
        </nav>

        <!-- User Actions -->
        <div class="flex items-center space-x-2">
          <!-- Cart Button -->
          <button 
            mat-icon-button 
            routerLink="/cart" 
            class="text-white"
            [matBadge]="cartItemCount$ | async" 
            matBadgeColor="warn"
            [matBadgeHidden]="(cartItemCount$ | async) === 0"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>

          <!-- User Menu -->
          <div *ngIf="currentUser$ | async as user; else loginButton">
            <button mat-button [matMenuTriggerFor]="userMenu" class="text-white">
              <mat-icon class="mr-1">person</mat-icon>
              {{user.name}}
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                Profile
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
              </button>
            </mat-menu>
          </div>

          <ng-template #loginButton>
            <button mat-button routerLink="/login" class="text-white">
              <mat-icon class="mr-1">login</mat-icon>
              Login
            </button>
          </ng-template>
        </div>
      </div>
    </mat-toolbar>